/* Buttons */

.switch-button {
    margin: 10px;
    padding: 5px;
    background: #fff;
    border-radius: 3px;
}
    .switch-button:hover {
        background: #e1e1e1;
    }

    .switch-button:disabled {
        background: #c7c7c7;
    }

.status-block {
    display: flex;
}

/*  */
.main {
    display: flex;
    flex-flow: column;
}

.main {
    flex: auto;
    margin: 0 15px;
    box-shadow: 0 0 10px #b7bec3;
}

.main-header {
    flex: none;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
    padding: 15px;
    background: #4d97e2;
    color: #fff;
}

/* Appeal only */
    .main-header .moscow-time {
        display: none;
        margin: 10px;
        padding: 5px 10px;
        border-radius: 3px;
        text-align: center;
        background: #72ade7;
    }

    .main-header .moscow-value {
        font-size: 18px;
    }

    .main-header .moscow-caption {
        color: #aed3f0;
    }

    .main-header .switch-button {
        display: none;
        flex: none;
    }

    .main-header .title-status {
        flex: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .main-header .title {
        flex: auto;
        font-size: 18px;
        font-weight: bold;
    }

.main-footer {
    flex: none;
    display: flex;
    align-items: center;
    background: #fff;
}

.message-text {
    flex: auto;
    padding: 10px 15px;
    border: none;
    resize: none;
    outline: none;
}

@media screen and (max-width: 767px) {
    .header {
        margin: 0;
    }

    .main {
        margin: 0;
        box-shadow: none;
    }

    .main-header {
        border-radius: 0;
        padding: 0;
    }

        .main-header .moscow-time {
            display: block;
        }

        .main-header .title {
            margin-bottom: 5px;
            width: 100%;
        }

        .main-header .switch-button {
            display: block;
        }
}

@media screen and (min-width: 768px) {
}
