/* Buttons */

.status-block {
    display: flex;
}

/*  */
.main {
    display: flex;
    flex-flow: column;
}

.main {
    flex: auto;
    margin: 0 15px;
    box-shadow: 0 0 10px #b7bec3;
}

.main-header {
    flex: none;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
    padding: 15px;
    background: #4d97e2;
    color: #fff;
}

    /* Appeal only */
    .main-header .side-button {
        padding: 5px 10px;
        margin-right: 10px;
        border-right: 2px solid #7aafe4;
    }
        .main-header .side-button img {
            height: 30px;
        }

    .main-header .remaining-time {
        flex: none;
        display: none;
        text-align: right;
    }

    .main-header .remaining-value {
        font-size: 16px;
        font-weight: bold;
    }

    .main-header .remaining-caption {
        color: #aed3f0;
        font-size: 14px;
    }

    .main-header .title-status {
        flex: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .main-header .title {
        flex: auto;
        font-size: 18px;
        font-weight: bold;
        line-height: 1;
    }

    .main-header .switch-button {
        display: none;
        flex: none;
        padding: 5px 10px;
        margin-left: 10px;
        border-left: 2px solid #7aafe4;
    }

        .main-header .switch-button img {
            height: 30px;
        }

        /*.main-header .switch-button:hover {
            background: #e1e1e1;
        }*/

.main-footer {
    flex: none;
    display: flex;
    align-items: center;
    background: #fff;
}

.message-text {
    flex: auto;
    padding: 10px 15px;
    border: none;
    resize: none;
    outline: none;
}

@media screen and (max-width: 767px) {
    .header {
        display: none;
    }

    .main {
        margin: 0;
        box-shadow: none;
    }

    .main-header {
        border-radius: 0;
        padding: 10px 5px;
    }

        .main-header .remaining-time {
            display: block;
        }

        .main-header .title {
            width: 100%;
            margin-bottom: 5px;
            font-size: 16px;
        }

        .main-header .online-status {
            width: 7px;
            height: 7px;
        }

        .main-header .write-status {
            font-size: 14px;
        }

        .main-header .switch-button {
            display: block;
        }
}

/*@media screen and (max-height: 500px) {
    .main-header {
        display: none;
    }
}*/
