/*.container {
    background: #f2f2f2;
}
header {
    border-bottom: 2px solid #d6dade;
    padding: 15px 20px;
    color: #333;
}

    header .subtitle {
        color: #999;
    }

    header .title {
        font-size: 24px;
        font-weight: bold;
        line-height: 1em;
    }

footer {
    padding: 20px;
    text-align: center;
    color: #999;
}

.content {
    color: #151515;
}

.header {
    padding: 20px 50px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.main {
    padding: 0 50px;
}

.moscow-time {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 18px;
}
    .moscow-time .highlight {
        color: #006fe6;
        font-weight: bold;
    }

.info {
    margin-bottom: 20px;
    overflow: hidden;
}
    .info .icon {
        float: left;
        margin-right: 10px;
    }
    .info .text {
        color: #ff6a00;
        font-size: 24px;
        font-weight: bold;
        line-height: 1em
    }

.complete-text {
    color: #c92744;
    font-size: 32px;
    clear: both;
}

.remaining-time {
    font-size: 32px;
    clear: both;
}
.remaining-time b {
    font-size: 40px;
}

.info-block {
    margin-bottom: 10px;
    font-size: 18px;
}
    .info-block .header {
        border-bottom: 2px solid #ff6a00;
        padding: 10px 0;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

.info-item {
    margin-bottom: 5px;
}*/
