html, body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    color: #565656;
    font-family: Calibri;
}
form {
    padding: 0;
    margin: 0;
}

.footer, .header {
    flex: none;
}

.sidebar {
    float: right;
    width: 350px;
    border-left: 1px solid #000;
    position: relative;
    height: 100%;
    overflow: hidden;
}
.sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

    .content .header {
        border-bottom: 1px solid #000;
    }
        .content .header .caption {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 24px;
        }

.complete-button {
    float: right;
}

.message-history {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    flex: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}

    .message-history li {
        /*list-style: none;
        padding: 0;
        margin: 0;*/
        overflow: hidden;
    }

.message {
    padding: 5px;
    margin-bottom: 5px;
    color: #888;
    min-width:40%;
    max-width: 60%;
    clear: both;
}

.nickname {
    text-decoration: underline;
}

.message-bubble {
    border: 1px solid #5d5d5d;
    padding: 8px;
    border-radius: 5px;
    color: #000;
    position: relative;
    margin-bottom: 5px;
    background: #fff;
    word-wrap: break-word;
}
    .message-bubble::before {
        content: "";
        position: absolute;
        top: calc(100% - 5px);
        height: 10px;
        width: 10px;
        transform: rotate(45deg);
        border-bottom: inherit;
        border-right: inherit;
        background:inherit;
    }

.place-right {
    float: right;
    text-align: right;
}
    .place-right .message-bubble::before {
        right: 10px;
    }
.place-left {
    float:left;
    text-align: left;
}
    .place-left .message-bubble::before {
        left: 10px;
    }

.time-caption {
    padding: 5px;
    text-align: right;
}

.message-form {
    border-top: 1px solid #000;
    padding: 5px;
    display: flex;
    align-items: center;
}

.send-textbox {
    width: 100%;
    padding: 6px;
    resize: none
}

.form-button {
    font-size: 22px;
    padding: 5px;
    color: #565656;
    display: block;
}
    .form-button:hover {
        color: #ccc;
        cursor: pointer;
    }

.glyph {
    margin-right: 5px;
    vertical-align: bottom;
    font-size: 18px;
}

.hide-info-panel {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.link-button {
    display: block;
    border: 1px solid #5d5d5d;
    padding: 5px;
    background: #ebebeb;
    color: #000;
    text-decoration: none;
}
    .link-button:hover, .hide-info-panel:hover {
        text-decoration: underline;
    }

.emoji-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    text-align: center;
    border-top: 1px solid #000;
}
    .emoji-grid div {
        padding: 10px;
    }
        .emoji-grid div:hover {
            background: #ebebeb;
            cursor: pointer;
        }