body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.body-content {
    position: relative;
    height: 100vh;
    color: #565656;
    font-family: Calibri;
    overflow: hidden;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
}

.sidebar {
    float: right;
    width: 350px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.main-content {
    position: relative;
    margin-right: 350px;
    height: 100%;
    border-right: 1px solid #000;
}

.chat-header {
    border-bottom: 1px solid #000;
    padding: 10px;
    overflow: hidden;
}
    .chat-header .caption {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 24px;
    }

.time-caption {
    padding: 5px;
    text-align:right;
}

.message-form {
    border-top: 1px solid #000;
    padding: 5px;
}

.send-button {
    float: right;
    padding: 5px;
    margin-left: 5px;
}

.send-textbox {
    width: 100%;
    box-sizing: border-box;
}

.emoji-button {
    float: left;
    padding: 5px;
    margin-right: 5px;
}

.complete-button {
    float: right;
}

.messages-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.message {
    padding: 5px;
    margin-bottom: 5px;
    color: #888;
    max-width: 60%;
}
.nickname {
    text-decoration: underline;
}

.message-bubble {
    border: 1px solid #5d5d5d;
    padding: 8px;
    border-radius: 5px;
    color: #000;
    position: relative;
    margin-bottom: 5px;
    background: #fff;
    word-wrap: break-word;
}
    .message-bubble::before {
        content: "";
        position: absolute;
        top: calc(100% - 5px);
        left: 10px;
        height: 10px;
        width: 10px;
        transform: rotate(45deg);
        border-bottom: inherit;
        border-right: inherit;
        background:inherit;
    }

.place-right {
    float: right;
    text-align: right;
    clear: right;
}
.place-left {
    float:left;
    text-align: left;
    clear:left;
}

.glyph {
    margin-right: 5px;
    vertical-align: bottom;
    font-size: 18px;
}

.hide-info-panel {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.link-button {
    display: block;
    border: 1px solid #5d5d5d;
    padding: 5px;
    background: #ebebeb;
    color: #000;
    text-decoration: none;
}
    .link-button:hover, .hide-info-panel:hover {
        text-decoration: underline;
    }