<div class="modal-window" style="text-align: center; padding: 40px; max-width: 450px;">
    <div class="switch-loader" style="margin-bottom: 40px;"><img src="~/images/switch-loader.png" alt="Loading" style="height: 80px;" /></div>
    <div style="font-size: 20px; font-weight: bold; margin-bottom: 20px;">Подключение нового члена КК может занять некоторое время.</div>
    <div style="color: #ccc;">Время ожидания подключения другого члена КК также засчитывается как время консультации.</div>
</div>