<div class="modal-window change-window">
    <div class="modal-content">
        <div class="title">Сменить члена конфликтной комиссии?</div>
        <div class="button-box">
            <button id="okChangeButton" class="custom-button btn-action btn-complete">Да</button>
            <button id="cancelButton" class="custom-button btn-action">Нет</button>
        </div>
        <div class="notice-box">
            <div class="notice">Вы можете один раз сменить члена КК, который вас консультирует.</div>
            <div class="sub-notice" style="margin-bottom: 10px;">В случае замены оставшееся время на консультацию и возможность отправки сообщений приостанавливается до момента подключения нового члена конфликтной комиссии.</div>
            <div class="sub-notice">Ожидание подключения нового члена конфликтной комиссии может занять некоторое время.</div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="okChangeMobileButton" class="custom-button btn-action btn-complete">Да</button>
        <button id="cancelMobileButton" class="custom-button btn-action">Нет</button>
    </div>
    <style>
        .btn-action {
            font-size: 16px;
            font-weight: bold;
            color: #3688db;
        }

            .btn-action:hover {
                background: #2a67a5;
                color: #fff;
                border-color: #2a67a5;
            }

        .btn-complete {
            color: #fff;
            background: #3688db;
        }

        .change-window .modal-content {
            display: flex;
            flex-flow: column;
            text-align: center;
            padding: 20px;
        }

        .change-window .modal-footer {
            border-top: 1px solid #ccc;
        }

        .modal-content .btn-action {
            padding: 12px;
            width: 170px;
            border: 1px solid #3688db;
            border-radius: 3px;
        }

        .modal-content .btn-complete {
            margin-right: 15px;
        }

        .modal-content .title {
            font-weight: bold;
            font-size: 18px;
            order: 0;
        }

        .modal-content .button-box {
            margin: 20px;
        }

        .notice-box .notice {
            font-weight: bold;
            font-size: 12px;
            margin-bottom: 10px;
        }

        .notice-box .sub-notice {
            color: #9b9b9b;
            font-size: 12px;
        }

        .modal-footer .btn-action {
            width: 100%;
            padding: 20px;
        }

        @@media screen and (max-width: 767px) {
            .modal-content .title {
                margin-top: 20px;
                order: 1;
            }

            .modal-content .button-box {
                display: none;
            }

            .notice-box .notice, .notice-box .sub-notice {
                font-size: 14px;
            }
        }
        @@media screen and (min-width: 768px) {
            .change-window .modal-footer {
                display: none;
            }
        }
    </style>
</div>
