<div class="modal-window complete-window">
    <div class="modal-content">
        <div class="title">Завершить консультацию?</div>
        <div class="button-box">
            <button id="okCompleteButton" class="custom-button btn-action btn-complete">Да</button>
            <button id="cancelButton" class="custom-button btn-action">Нет</button>
        </div>
        <div class="notice">Вернуться к консультации после ее завершения будет невозможно.</div>
    </div>
    <div class="modal-footer">
        <button id="okCompleteMobileButton" class="custom-button btn-action btn-complete">Да</button>
        <button id="cancelMobileButton" class="custom-button btn-action">Нет</button>
    </div>
    <style>
        .btn-action {
            font-size: 16px;
            font-weight: bold;
            color: #3688db;
        }

            .btn-action:hover {
                background: #2a67a5;
                color: #fff;
                border-color: #2a67a5;
            }

        .btn-complete {
            color: #fff;
            background: #3688db;
        }

        .complete-window .modal-content {
            display: flex;
            flex-flow: column;
            text-align: center;
            padding: 20px;
        }

        .complete-window .modal-footer {
            border-top: 1px solid #ccc;
        }

        .modal-content .btn-action {
            padding: 12px;
            width: 170px;
            border: 1px solid #3688db;
            border-radius: 3px;
        }

        .modal-content .btn-complete {
            margin-right: 15px;
        }

        .modal-content .title {
            font-weight: bold;
            font-size: 20px;
            order: 0;
        }

        .modal-content .button-box {
            margin: 20px;
        }

        .modal-footer .btn-action {
            width: 100%;
            padding: 20px;
        }

        .modal-content .notice {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 10px;
        }

        @@media screen and (max-width: 767px) {
            .modal-content .title {
                margin-top: 20px;
                order: 1;
            }

            .modal-content .button-box {
                display: none;
            }
        }

        @@media screen and (min-width: 768px) {
            .complete-window .modal-footer {
                display: none;
            }
        }
    </style>
</div>