<div class="modal-window">
    <div class="modal-header">
        <div class="modal-title">Сведения об аппеляции</div>
        <button id="closeModalButton" class="custom-button close-button"><img src="~/images/modal-close.png" /></button>
    </div>
    <div class="modal-content" style="padding: 15px">
        <ul>
            <li style="margin-bottom: 15px; border-bottom: 1px solid #ccc;">
                <div style="margin-bottom: 10px;"><b>«Горячая линия» конфликтных комиссий</b> при проведении государственной итоговой аттестации по образовательным программам <b>основного общего и среднего общего образования:</b></div>
                <div style="display: flex; align-items: center;">
                    <img src="~/images/contacts-modal/phone.svg" alt="Телефон" style="height: 30px; margin-right: 10px;" />
                    <div>
                        <a href="tel:+74996535191">+7 (499) 653-51-91</a>
                        <div>Время работы: пн - сб с 9:00 до 19:00,<br />выходные - воскресенье и праздничные дни</div>
                    </div>
                </div>
            </li>
            <li style="margin-bottom: 15px; border-bottom: 1px solid #ccc;">
                <div style="margin-bottom: 10px;">Официальный <b>электронный адрес конфликтной комиссии</b> при проведении государственной итоговой аттестации по образовательным программам <b>среднего общего образования</b>:</div>
                <div style="display: flex; align-items: center;">
                    <img src="~/images/contacts-modal/envelope.svg" alt="Электронная почта" style="height: 30px;" />
                    <div><a href="mailto:kk77@mcko.ru">kk77@mcko.ru</a></div>
                </div>
            </li>
            <li style="margin-bottom: 15px; border-bottom: 1px solid #ccc;">
                <div style="margin-bottom: 10px;">Официальный <b>электронный адрес конфликтной комиссии</b> при проведении государственной итоговой аттестации по образовательным программам <b>общего общего образования</b>:</div>
                <div style="display: flex; align-items: center;">
                    <img src="~/images/contacts-modal/envelope.svg" alt="Электронная почта" style="height: 30px;" />
                    <div><a href="mailto:kkgia9@mcko.ru">kkgia9@mcko.ru</a></div>
                </div>
            </li>
            <li style="margin-bottom: 15px; border-bottom: 1px solid #ccc;">
                <div style="margin-bottom: 10px;">Информационно-консультационный центр регионального центра обработки информации города Москвы:</div>
                <div style="display: flex; align-items: center;">
                    <img src="~/images/contacts-modal/envelope.svg" alt="Электронная почта" style="height: 30px;" />
                    <div>
                        <a href="tel:+74953660692">+7 (495) 366-06-92</a>
                        <div>График работы: понедельник - пятница с 9:00 до 18:00.</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
