<style>
    .contacts-window {
        padding: 15px;
        height: 100%;
    }
    .contacts-window ul {
        color: #777;
    }

        .contacts-window ul li {
            padding: 15px 0;
            border-bottom: 1px solid #ccc;
        }

            .contacts-window ul li:last-child {
                border: none;
            }

    .contacts-header {
        margin-bottom: 10px;
    }

        .contacts-header strong {
            color: #000;
        }

    .contacts-content {
        display: flex;
        align-items: center;
    }

        .contacts-content img {
            height: 20px;
            margin-right: 20px;
        }

    .contacts-highlight {
        color: #000;
        font-weight: bold;
        font-size: 20px;
    }
</style>
<div class="modal-window contacts-window">
    <div class="modal-header">
        <div class="modal-title">Справочная служба конфликтной комиссии г. Москвы</div>
        <button id="closeModalButton" class="custom-button close-button"><img src="~/images/modal-close.png" /></button>
    </div>
    <div class="modal-content">
        <ul>
            <li>
                <div class="contacts-header"><strong>«Горячая линия» конфликтных комиссий</strong> при проведении государственной итоговой аттестации по образовательным программам <strong>основного общего и среднего общего образования:</strong></div>
                <div class="contacts-content">
                    <img src="~/images/contacts-modal/phone.svg" alt="Телефон" />
                    <div>
                        <a href="tel:+74996535191" class="contacts-highlight">+7 (499) 653-51-91</a>
                        <div>Время работы: пн - сб с 9:00 до 19:00,<br />выходные - воскресенье и праздничные дни</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contacts-header">Официальный <strong>электронный адрес конфликтной комиссии</strong> при проведении государственной итоговой аттестации по образовательным программам <strong>среднего общего образования</strong>:</div>
                <div class="contacts-content">
                    <img src="~/images/contacts-modal/envelope.svg" alt="Электронная почта" />
                    <div><a href="mailto:kk77@mcko.ru" class="contacts-highlight">kk77@mcko.ru</a></div>
                </div>
            </li>
            <li>
                <div class="contacts-header">Официальный <strong>электронный адрес конфликтной комиссии</strong> при проведении государственной итоговой аттестации по образовательным программам <strong>основного общего образования</strong>:</div>
                <div class="contacts-content">
                    <img src="~/images/contacts-modal/envelope.svg" alt="Электронная почта" />
                    <div><a href="mailto:kkgia9@mcko.ru" class="contacts-highlight">kkgia9@mcko.ru</a></div>
                </div>
            </li>
            <li>
                <div class="contacts-header">Информационно-консультационный центр регионального центра обработки информации города Москвы:</div>
                <div class="contacts-content">
                    <img src="~/images/contacts-modal/phone.svg" alt="Телефон" />
                    <div>
                        <a href="tel:+74953660692" class="contacts-highlight">+7 (495) 366-06-92</a>
                        <div>График работы: понедельник - пятница с 9:00 до 18:00.</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="contacts-header">Общественная приемная регионального центра обработки информации города Москвы:</div>
                <div class="contacts-content">
                    @*<img src="~/images/contacts-modal/envelope.svg" alt="Электронная почта" style="height: 20px; margin-right: 20px;" />*@
                    <div>
                        <div class="contacts-highlight">г. Москва, Семеновская пл., д.4</div>
                        <div>График работы: понедельник - пятница с 9:00 до 18:00.</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
