<div class="modal-window wait-window">
    <div class="modal-content">
        <div class="wait-loader"><img src="~/images/switch-loader.png" alt="Загрузка" /></div>
        <div class="wait-title">Подключение нового члена КК может занять некоторое время.</div>
        <div class="wait-subtitle">Время ожидания подключения другого члена КК также засчитывается как время консультации.</div>
    </div>

    <style>
        .wait-window {
            text-align: center;
            padding: 40px;
            /*height: auto;*/
        }
            .wait-window .modal-content {
                margin: auto;
            }
        .wait-loader {
            margin-bottom: 40px;
        }
            .wait-loader img {
                height: 80px;
            }

        .wait-title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .wait-subtitle {
            color: #ccc;
        }
    </style>
</div>