<div class="modal-window">
    <div class="modal-header">
        <div id="closeDiv" class="close" onclick="closeModal()">&times;</div>
        <div class="title">Сменить члена КК, который Вас консультирует</div>
    </div>
    <div class="modal-content">
        Возможность сменить члена конфликтной комиссии предоставляется только один раз за время онлайн консультации.
    </div>
    <div class="modal-footer">
        <button id="changeOkButton" class="custom-button complete-button">Да</button>
        <button id="closeButton" class="custom-button" onclick="closeModal()">Отмена</button>
    </div>
</div>
