<div class="modal-window">
    <div class="modal-header">
        <div id="closeDiv" class="close" onclick="closeModal()">&times;</div>
        <div class="title">Завершить консультацию?</div>
    </div>
    <div class="modal-content">
        Последующий возврат к консультации будет невозможен.
    </div>
    <div class="modal-footer">
        <button id="completeOkButton" class="custom-button complete-button">Да</button>
        <button id="closeButton" class="custom-button" onclick="closeModal()">Отмена</button>
    </div>
</div>
