@model IndexViewModel

<div class="header">
    <div class="moscow-time">
        <div class="time-value" id="moscowTime">00:00</div>
        <div class="time-caption">Московское время</div>
    </div>
    <div class="header-title">Онлайн консультации по результатам рассмотрения апелляций о несогласии с выставленными баллами ГИА</div>
    <div class="buttons-block">
        <button class="custom-button header-button"><img src="images/png/round-help-button.png" alt="Help" /></button>
        @if (Model.IsInRange)
        {
            <button class="custom-button header-button"><img src="images/png/login.png" alt="Complete" /></button>
        }
    </div>
</div>