<header>
    <div class="subtitle">Конфликтная комиссия города Москвы</div>
    <div class="title">Онлайн консультации по результатам рассмотрения апелляций о несогласии с выставленными баллами ГИА</div>
</header>