@{
    ViewData["Title"] = "Система онлайн консультирования по вопросам";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    </environment>
</head>
<body>
    <partial name="_CookieConsentPartial" />

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <div class="body-content">
        <header style="border-bottom: 2px solid #d6dade; padding: 20px;">
            <div style="color: #565656;">Конфликтная комиссия города Москвы</div>
            <div style="font-size: 24px; font-weight: bold; ">Онлайн консультации по результатам рассмотрения апелляций о несогласии с выставленными баллами ГИА</div>
        </header>

        @RenderSection("Scripts", required: false)

        <div>
            @RenderBody()
        </div>

        <footer style="border-top: 2px solid #d6dade; padding: 20px; text-align: center;">
            2018 (C) Конфликтная комиссия города Москвы
        </footer>
    </div>
</body>
</html>
