<div id="sideMenu" class="overlay" style="display: none;">
    <div class="sidemenu">
        <div class="sidemenu-header">
            <button id="closeSideButton" class="custom-button close-tooltip-button" style="width:30px; height: 30px;"></button>
        </div>
        <div class="sidemenu-content">
            <div id="appealInfoButton" class="sidemenu-button"><img class="button-icon" src="~/images/chat.svg" alt="Сведения об аппеляции" /><span style="overflow:hidden;">Сведения об аппеляции</span></div>
            <div id="contactsButton" class="sidemenu-button"><img class="button-icon" src="~/images/envelope.svg" alt="Контакты" />Контакты</div>
            <div id="guideButton" class="sidemenu-button"><img class="button-icon" src="~/images/round-help-button.svg" alt="Инструкция по работе с чатом" /><div>Инструкция по работе с чатом</div></div>
        </div>
        <div class="sidemenu-footer">
            <div id="completeButton" class="sidemenu-button"><img class="button-icon" src="~/images/login.svg" alt="Завершить консультацию" />Завершить консультацию</div>
            <div class="sidemenu-copyright">2018 (C) Конфликтная комиссия города Москвы</div>
        </div>
    </div>
</div>