@model SessionViewModel

<div id="sideMenu" class="overlay" style="display: none;">
    <div class="sidemenu">
        <div class="sidemenu-header">
            <button id="closeSideButton" class="custom-button" style="margin: 10px;">
                <img src="~/images/sidemenu/close.png" alt="Закрыть" style="height: 30px;" />
            </button>
        </div>
        <div class="sidemenu-content">
            <a id="appealInfoLink" href="#" class="sidemenu-item"><div><img src="~/images/sidemenu/info.png" alt="Сведения об апелляции" /><div>Сведения об апелляции</div></div></a>
            <a id="contactsLink" href="#" class="sidemenu-item"><div><img src="~/images/sidemenu/contacts.png" alt="Контакты" /><div>Контакты</div></div></a>
            <a href="~/files/manual.pdf" target="_blank" class="sidemenu-item"><div><img src="~/images/sidemenu/help.png" alt="Инструкция по работе с онлайн-чатом" /><div>Инструкция по работе с онлайн-чатом</div></div></a>
        </div>
        <div class="sidemenu-footer">
            @if (Model.IsActive)
            {
                <a id="completeMobileButton" href="#" class="sidemenu-item">
                    <div>
                        <img class="button-icon" src="~/images/sidemenu/complete.png" alt="Завершить онлайн-чат" />
                        <div>Завершить онлайн-чат</div>
                    </div>
                </a>
            }
            <div class="sidemenu-copyright">2018 (C) Конфликтная комиссия города Москвы</div>
        </div>
    </div>
</div>