@model IndexViewModel

@{
    ViewData["Title"] = "Система онлайн консультирования по вопросам";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/before-after.css" />
}

@section Scripts {
    <script type="text/javascript">
        var appealId = "@Model.AppealId";
    </script>
    <script type="text/javascript" src="~/js/before.js"></script>
}

<style>
    .main {
        display: flex;
        flex-flow: column;
        width: 100%;
        overflow-y: auto;
        color: #000;
        text-align: center;
    }

    .main-header {
        margin-bottom: 40px;
    }

        .main-header .icon {
            margin-bottom: 10px;
        }

            .main-header .icon img {
                width: 80px
            }

        .main-header .title {
            color: #ff941a;
            font-weight: bold;
            font-size: 20px;
        }
    .main-content .title {
        font-weight: bold;
        font-size: 20px;
    }
    .main-content .remaining-time {
        color: #8c8d8f;
    }
        .main-content .remaining-time b {
            font-size: 20px;
            color: #000;
        }
</style>

<partial name="Sidemenu" />

<div class="container">
    <partial name="Header" />
    <div class="content">
        <partial name="Sidebar" />
        <div class="main">
            <div style="margin: auto;">
                <div class="main-header">
                    <div class="icon"><img src="~/images/before/hourglass.svg" /></div>
                    <div class="title">Время онлайн консультации <br />по Вашей аппеляции еще не наступило</div>
                </div>
                <div class="main-content">
                    <div class="title">Консультация начнется через</div>
                    <div class="remaining-time"><b id="remainingDays">0</b> дней(-я) <b id="remainingHours">00</b> часа(-ов) <b id="remainingMinutes">00</b> минут(-ы)</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal" style="display: none;" class="overlay modal-overlay"></div>