@{
    ViewData["Title"] = "Система онлайн консультирования по вопросам";
}

<div class="complete-block" style="padding: 20px;">
    <div class="complete-header" style="font-size: 30px; margin: 30px 0"><i class="fab fa-adn" style="margin-right: 5px;"></i>@ViewData["Title"]</div>

    <div class="complete-content">
        <div style="font-size: 24px; margin-bottom: 20px">Консультация завершена</div>

        <div style="border: 1px solid #000; padding: 25px 20px; font-size: 16px;">Content</div>
    </div>

    <div class="complete-footer" style="position: absolute; bottom: 0; right: 0; margin: 5px; color: #717171; font-size: 12px">
        2018 (C) Конфликтная комиссия города Москва
    </div>
</div>

