@model IndexViewModel
@{
    ViewData["Title"] = "Система онлайн консультирования по вопросам";

    var currentDate = DateTime.Now;

    var chatSession = Model.ChatSession;
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/early-complete.css" />
    <style>
    </style>
}
@section Scripts {
    <script type="text/javascript" src="~/js/luxon.min.js"></script>
    <script type="text/javascript" src="~/js/complete.js"></script>
    <script type="text/javascript" src="~/lib/signalr/signalr.js"></script>
}

    <div class="container">
        <partial name="_Header" />
        <div class="content">
            <partial name="_Sidebar" />
            <div class="main" style="display: flex; flex-flow:column; justify-content: center; align-items: center; width: 100%; text-align:center; overflow: hidden;">
                <div style="margin: 50px 0;"><b style="font-size: 20px;">Консультация по аппеляции завершена</b></div>
                <div style="box-shadow: 0 0 5px 0 #ccc; width: 500px; padding: 50px;">
                    <div style="margin-bottom: 10px"><img src="~/images/png/hourglass.png" style="width: 80px" /></div>
                    <div style="color: #ff941a; font-weight: bold; font-size: 20px; margin-bottom: 10px;">Сведения о заседании конфликтной комиссии</div>

                    <div style="margin-bottom: 10px">Заседание конфликтной комиссии, в рамках которой будет вынесено<br />Решение по Вашей аппеляции состоится</div>
                    <div style="margin-bottom: 30px"><img src="" alt="Calendar" style="margin-right: 10px;" /><b style="color:#000;">01.08.2018</b></div>

                    <div style="margin-bottom: 10px">Запланированное время рассмотрения Вашей аппеляции</div>
                    <div style="margin-bottom: 30px"><img src="" alt="Time" style="margin-right: 10px;" /><b style="color:#000;">09:00 - 09:15</b></div>

                    <div style="margin-bottom: 10px; color:#000;">Онлайн трансляцию заседания конфликтной комиссии Вы сможете посмотреть, перейдя по <a href="#">данной ссылке</a></div>
                    <div>По итогам рассмотрения аппеляции Вам будет направлено Решение конфликтной комисии, ознакомиться с которым Вы сможете в личном кабинете на портале.</div>
                </div>
            </div>
        </div>
    </div>
