@{
    ViewData["Title"] = "Система онлайн консультирования по вопросам";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/early-complete.css" />
}

    <div class="container">
        <partial name="_Header" />

        <div class="content">
            <div class="header">
                <div class="moscow-time">
                    <div class="highlight">00 месяц 0000</div>
                    <div>Московское время: <span class="highlight">00:00</span></div>
                </div>
                <div class="complete-text">Консультация по апелляции завершена.</div>
            </div>
            <div class="main">
                <div class="info-block">
                    <div class="header">Сведения о заседании конфликтной комиссии</div>
                    <ul>
                        <li class="info-item">Заседание конфликтной комиссии, в рамках которого будет вынесено Решение по Вашей апелляции, состоится <strong>00.00.0000</strong></li>
                        <li class="info-item">Запланированное время рассмотрения Вашей апелляции <strong>с <span>00:00</span> до <span>00:00</span></strong></li>
                        <li class="info-item">Онлайн-трансляцию заседания конфликтной комиссии Вы сможете посмотреть, перейдя по данной ссылке <a href="#">http://test.com</a></li>
                        <li class="info-item">По итогам рассмотрения апелляции вам будет направлено Решение конфликтной комиссии, ознакомиться с которым Вы сможете в личном кабинете на портале.</li>
                    </ul>
                </div>
                <div class="info-block">
                    <div class="header">Сведения об аппеляции</div>
                    <ul>
                        <li class="info-item">Дата и время подачи заявления: <strong>00.00.0000 00:00</strong></li>
                        <li class="info-item">Номер апелляции: <strong>00000</strong></li>
                        <li class="info-item">Дата и время регистрации заявления: <strong>00.00.0000 00:00</strong></li>
                        <li class="info-item">Предмет: <strong>Отсутствует</strong></li>
                        <li class="info-item">Дата экзамена: <strong>00.00.0000</strong></li>
                    </ul>
                </div>
                <div class="info-block">
                    <div class="header">Справочная информация</div>
                    <div>
                        <div style="display: inline-block; vertical-align: middle;">Инструкция по работе с системой онлайн трансляции заседания конфликтной комиссии  </div>
                        <img style="display: inline-block; vertical-align: middle;" src="~/images/download.png" />
                        <div><strong>Справочная служба конфликтной комиссии г. Москвы</strong></div>
                        <div>Горячая линия по работе конфликтной комиссии при проведении государственной итоговой аттестации по образовательным программам среднего общего образования:</div>
                        <img style="display: inline-block; vertical-align: middle;" src="~/images/phone-call.png" />
                        <div style="display: inline-block; vertical-align: middle;">+7 (495) 366-06-92</div>
                        <div>Официальный электронный адрес конфликтной комиссии при проведении государственной итоговой аттестации по образовательным программам среднего общего образования:</div>
                        <img style="display: inline-block; vertical-align: middle;" src="~/images/EMail.png" />
                        <div style="display: inline-block; vertical-align: middle;">kk77@mcko.ru</div>
                        <div>Официальный электронный адрес конфликтной комиссии при проведении государственной итоговой аттестации по образовательным программам основного общего образования:</div>
                        <img style="display: inline-block; vertical-align: middle;" src="~/images/EMail.png" />
                        <div style="display: inline-block; vertical-align: middle;">kkgia9@mcko.ru</div>
                        <div>Информационно-консультационный центр регионального центра обработки информации города Москвы:</div>
                        <img style="display: inline-block; vertical-align: middle;" src="~/images/phone-call.png" />
                        <div style="display: inline-block; vertical-align: middle;">+7 (495) 366-06-92</div>
                        <div><strong>Общественная приемная регионального центра обработки информации города Москвы</strong></div>
                        <div>Адрес: город Москва, Семеновская пл. д.4.</div>
                        <div>График работы: понедельник - пятница с 9:00 до 18:00, в дни проведения экзаменов – с 7:30 до 18:00</div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_Footer" />
    </div>
