@{
    ViewData["Title"] = "Система онлайн консультирования по вопросам";
}

<div class="early-block" style="padding: 50px; border-bottom: 1px solid #ccc; color: #151515;">
    <div style="margin-bottom: 20px; overflow: hidden;">
        <img style="float: left; margin-right: 10px;" src="~/images/hourglass.png" />
        <div style="color: #ff6a00; font-size:24px; font-weight: bold; line-height: 1em">Время онлайн консультации по Вашей апелляции еще не наступило</div>
    </div>
    <div style="font-size: 24px;clear:both;">Консультация начнется через: <span id="remainingTime"><b>00</b> часа(-ов) <b>00</b> минут(-ы)</span></div>
</div>
<div class="early-block" style="padding: 50px; color: #151515;">
    <div style="margin-bottom: 10px;">
        <div style="border-bottom: 2px solid #ff6a00; padding: 10px 0; font-size: 20px; font-weight: bold; margin-bottom:10px;">Сведения об аппеляции</div>
        <div style="font-size: 18px;">
            <ul style="margin: 0; padding: 0; list-style: none;">
                <li style="margin-bottom: 5px;">Дата и время подачи заявления: <span style="font-weight: bold;">00.00.0000 00:00</span></li>
                <li style="margin-bottom: 5px;">Номер апелляции: <span style="font-weight: bold;">00000</span></li>
                <li style="margin-bottom: 5px;">Дата и время регистрации заявления: <span style="font-weight: bold;">00.00.0000 00:00</span></li>
                <li style="margin-bottom: 5px;">Предмет: <span style="font-weight: bold;">Отсутствует</span></li>
                <li style="margin-bottom: 5px;">Дата экзамена: <span style="font-weight: bold;">00.00.0000</span></li>
                <li style="margin-bottom: 5px;">Дата и время начала онлайн консультации: <span style="font-weight: bold;">00.00.0000 00:00</span></li>
                <li style="margin-bottom: 5px;">Дата и время завершения онлайн консультации: <span style="font-weight: bold;">00.00.0000 00:00</span></li>
            </ul>
        </div>
    </div>
    <div>
        <div style="border-bottom: 2px solid #ff6a00; padding: 10px 0; font-size: 20px; font-weight: bold; margin-bottom:10px;">Справочная информация</div>
        <div style="font-size: 18px;">
            <div style="margin-bottom: 10px;">Инструкция по работе с онлайн чатом и видеотрансляцией заседания конфликтной комиссии</div>
            <div>Справочная служба конфликтной комиссии г. Москвы</div>
            <div>+7 (499) 653-94-50</div>
            <div>kk77@mcko.ru</div>
        </div>
    </div>
</div>
