@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}
<div class="container">
    <div style="padding: 30px; margin: auto;">
        <h1>Ошибка</h1>
        <h2>Во время обработки Вашего запроса произошла ошибка</h2>
        @if(Model.Message != null)
        { 
            <h3>@Html.Raw(Model.Message)</h3>
        }
    </div>
</div>
