@{
    ViewData["Title"] = "Home Page";
}
<div class="sidebar">
    <div class="expert-info" style="text-align: center; padding: 10px; border-bottom: 1px solid #000">
        <div class="expert-image" style="width: 150px; height: 150px;">

        </div>
        <div class="expert-caption" style="font-size: 20px">
            Член конфликтной комиссии
        </div>
        <div class="" style="font-size: 20px">
            №456
        </div>
        <hr />
        <div class="expert-change">
            <a href="/">Сменить собеседника</a>
        </div>
    </div>
    <div class="appeal-info" style="padding:10px;">
        <ul style="list-style: none; margin: 0; padding: 0">
            <li style="border-bottom: 1px solid #000; padding: 15px 0;"><span>Номер аппеляции</span><span style="float: right">123</span></li>
            <li style="border-bottom: 1px solid #000; padding: 15px 0;"><span>Предмет</span><span style="float: right">Математика профильная</span></li>
            <li style="padding: 15px 0;"><span>Дата экзамена</span><span style="float: right">01.01.2018</span></li>
        </ul>
    </div>
    <div class="moscow-time" style="text-align: center">

    </div>
</div>
<div class="main-content">
    <div class="chat-header">
        <div class="complete-button">
            <a href="/">Завершить консультацию</a>
        </div>
        <div class="caption">
            Система онлайн-консультирования по вопросам...
        </div>
    </div>
    <div class="messages-list">
        <ul id="messagesList">
            <li class="message owner-expert">Член конфликтной комиссии №ХХХ подключился к консультации</li>
            <li class="message owner-expert">
                <div class="message-text">Добрый день! Готовы проконсультировать Вас по всем вопросам...</div>
                Член конфликтной комиссии №ХХХ
            </li>
        </ul>
    </div>
    <div class="chat-footer">
        <div class="time-caption">До конца консультации осталось XX минут</div>
        <div class="message-form">
            <form id="chatForm">
                <input class="send-button" id="sendButton" name="sendButton" type="submit" value="Send" />
                <button class="emoji-button" type="button">Emoji</button>
                <div style="overflow: hidden;">
                    <input class="send-textbox" type="text" placeholder="Введите сообщение..." />
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>
