@{
    ViewData["Title"] = "Error";
}
<style>
    .container {
        font-family: Calibri;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="container">
    <div style="padding: 30px;">
        <h1>Ошибка</h1>
        <h2>Сессия для данного аппелянта уже запущена на другом устройстве</h2>
        <h3>Если Вы просто обновили страницу чата, повторите попытку через несколько секунд</h3>
    </div>
</div>