
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ошибка сессии</title>
    <style>
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
        }

        body {
            font-family: Calibri;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            padding: 30px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Упс!</h1>
        <h2>Сессия для данного аппелянта уже запущена на другом устройстве</h2>
        <h3>Если Вы просто обновили страницу чата, повторите попытку через несколько секунд</h3>
    </div>
</body>
</html>
